@model DawForum.Models.Comment

@{
    ViewBag.Titlu = "Editare comentariu";
}

<h2>@ViewBag.Titlu</h2>
<form method="post" action="/Comment/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)
    <br />
    @Html.Label("Message", "Comentariul")
    <br />
    @Html.EditorFor(m => m.Message)
    @Html.ValidationMessageFor(model => model.Message, "Textul este obligatoriu", new { @class = "text-danger " })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Modifica comentariul</button>
</form>

