@model DawForum.Models.Comment

@{
    ViewBag.Title = @ViewBag.topic.Title;
}
<h2><a href="/Topic/Index/@ViewBag.topic.Category.CategoryId/1">@ViewBag.topic.Category.CategoryName</a>/@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @ViewBag.topic.User.UserName
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.topic.Content</td>
        </tr>
    </tbody>
</table>

@foreach (DawForum.Models.Comment comment in ViewBag.Comments)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @comment.User.UserName on @comment.Date
                        @if (this.User.IsInRole("Moderator") || this.User.IsInRole("Administrator"))
                        {
                            <a href="/Comment/Edit/@comment.Id">[Edit]</a>
                        }
                        @if (this.User.IsInRole("Moderator") || this.User.IsInRole("Administrator"))
                        {
                            <form method="post" action="/Comment/Delete/@comment.Id" style="display:inline">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="btn btn-link" type="submit" style="color: red">[Delete]</button>
                            </form>
                        }
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@comment.Message</td>
            </tr>
        </tbody>
    </table>
}

@if (this.User.IsInRole("User") || this.User.IsInRole("Moderator") || this.User.IsInRole("Administrator"))
{
    if (TempData.ContainsKey("result"))
    {
        @ViewBag.result
    }
    <form method="post" action="/Comment/New/@ViewBag.TopicId">
        @Html.Label("Message", "Comentariul")
        <br />
        @Html.TextArea("Message", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Message, "Comentariul este obligatoriu", new { @class = "text-danger " })
        <br /><br />
        @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })
        <br />
        <button class="btn btn-sm btn-success" type="submit">Adauga comentariu</button>
    </form>
}

<br />

@if (this.User.IsInRole("Administrator"))
{
    <a class="btn btn-sm btn-info" href="/Topic/Edit/@ViewBag.TopicId"> Modifica topic-ul </a>
    <br />

    <form method="post" action="/Topic/Delete/@ViewBag.TopicId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Sterge topic-ul</button>
    </form>
}