@model DawForum.Models.Topic
<h2>@ViewBag.CategoryName</h2>
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DawForum.Models.Topic topic in ViewBag.Topics)
        {
            <tr>
                <td scope="row"><a href="/Comment/Index/@topic.Id">@topic.Title</a></td>
                <td scope="row">@topic.User.UserName</td>
                <td scope="row">@topic.Date</td>
            </tr>
        }
    </tbody>
</table>


@if (this.User.IsInRole("User") || this.User.IsInRole("Moderator")  || this.User.IsInRole("Administrator"))
{
    <form method="get" action="/Topic/New/@ViewBag.CategoryId">
        <button class="btn btn-sm btn-success" type="submit">Adauga o discutie</button>
    </form>
    <br />

    if (ViewBag.type == 1)
    {
        <form method="get" action="/Topic/Index/@ViewBag.CategoryId/2">
            <button class="btn btn-sm btn-success" type="submit">Sorteaza dupa nume</button>
        </form>
    }
    else
    {
        <form method="get" action="/Topic/Index/@ViewBag.CategoryId/1">
            <button class="btn btn-sm btn-success" type="submit">Sorteaza dupa data</button>
        </form>
    }
}