
@{
                /**/

                ViewBag.Titlu = "Afisare categorii";
}

<h2>@ViewBag.Titlu</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nume</th>
                @if (this.User.IsInRole("Administrator"))
                {
                    <th scope="col">Admin settings</th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (var category in ViewBag.Categories)
            {
                <tr>
                    <td scope="row">@category.CategoryId</td>
                    <td>
                        <a href="/Topic/Index/@category.CategoryId/1">@category.CategoryName</a>

                        @if (this.User.IsInRole("Administrator"))
                        {
                    <td>
                        <a class="btn btn-sm btn-info" href="/Categories/Edit/@category.CategoryId">Modifica categoria</a>
                        <form method="post" action="/Categories/Delete/@category.CategoryId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-danger" type="submit">Sterge categoria</button>
                        </form>
                    </td>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>



@if (this.User.IsInRole("Administrator"))
{
    <a class="btn btn-sm btn-success" href="/Categories/New">Adauga categorie</a>
}
<br />

