@model DawForum.Models.ApplicationUser

@{
    ViewBag.Title = "Extra";
}

<form method="post" action="/Manage/Extra">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.UserName)
    <br /><br />
    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" })
    <br />
    @Html.EditorFor(m => m.Email)
    <br /><br />
    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Numar telefon")
    <br />
    @Html.EditorFor(m => m.PhoneNumber)
    <br />
    <button class="btn btn-sm btn-success" type="submit">Save edit</button>
</form>
