@model DawForum.Models.IndexViewModel

@{
    ViewBag.Title = "Extra";
}


@TempData["message"]

<form method="post" action="/Manage/Extra">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Age", "Age")
    <br />
    @Html.EditorFor(model => model.Age)
    <br />
    @Html.Label("Country", "Country")
    <br />
    @Html.EditorFor(model => model.Country)
    <br />
    @Html.Label("First Name", "First Name")
    <br />
    @Html.EditorFor(model => model.FirstName)
    <br />
    @Html.Label("Last Name", "Last Name")
    <br />
    @Html.EditorFor(model => model.LastName)
    <br />
    <button class="btn btn-sm btn-success" type="submit">Update profile</button>
</form>
